header, footer{
    color: white;
    background-color: #312c32;
    margin: 0em 4em 0.5em 4em;
    };

h1, h2, h3, nav, footer {
    font-family: Trebuchet MS, Lucida Grande, Tahoma, sans-serif
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 0.75em;
}
h3 {
    font-size: 1.12em;
}
nav {
    font-size: 1.125em;
}
body {
    font-family: Georgia,Cambria,"Times New Roman",serif;
    font-size: 100%;
    background-color: #98dafc;
}
body:link {
    color: #98dafc;
    font-weight: bold;
}
body:visited {
    color:#daad86
}
#list:hover {
    color: #FFFFCC;
}
#largepic {
    width: 98%;
    border 100px solid black;
}